<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <p class="navbar-brand">E A A</p>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li id="home">
              <a href="/">Home</a>
            </li>
            <li id="about">
              <a href="/about">About</a>
            </li>
            <li id="contact">
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <body>
      <div class="container">
